<nav class="navbar bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="'/home'" [style.color]="'white'">Navbar</a>
      <button mat-mini-fab color="primary"  type="submit" class="ms-2" (click)="onLogout()"><mat-icon>logout</mat-icon></button>
    </div>
  </nav>


<div class="container">
    <div class="row mt-4">
       
        <div class="col-md-6 mt-1 mb-4"  *ngFor="let d of joinedLeagues; index as i">
            <h1 style="font-weight: bold;">{{d.name}}</h1>
            <!-- <div *ngIf="i==0"><h1 style="font-weight: bold;">{{d.catname}}</h1></div>
            <div *ngIf="i==1"><h1>&nbsp;</h1></div>
            <div *ngIf="i==2" class="text-end seeall" (click)="onEntry(d.matchkey,d.catid)" ><h2 >View All</h2></div> -->
            <mat-card class="mb-4 divCard" (click)="onDetails(d.challenge_id,d.matchkey)">
                <mat-card-content>
                    <div class="d-flex justify-content-between">
                        <div class="text4">Prize Pool</div>
                        <div class="text4">Entry</div>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-between">
                        <div class="text mt-2">₹{{d.win_amount}}</div>
                        <div class=" mt-2 button">₹{{d.entryfee}}</div>
                    </div>
                    <div class="mt-3" >
                        <mat-progress-bar mode="determinate" color="warn" value={{100-d.value}}></mat-progress-bar>                    
                    </div>
                    <div class="d-flex justify-content-between mt-2">
                        <div class="text3">{{d.maximum_user - d.joinedusers}} spots left</div>
                        <div class="text2">{{d.maximum_user}} spots</div>
                    </div>
                </mat-card-content>
                <mat-card-footer class="foot mt-2">
                    <div class="d-flex justify-content-between mt-2">
                        <div class="d-flex">
                            <mat-icon class="icon"> military_tech </mat-icon>
                            <p class="price"> ₹{{d.win_amount}}</p>
                            <mat-icon class="icon">emoji_events</mat-icon>
                            <p class="price">{{d.winning_percentage}}%</p>
                            <mat-icon class="icon">stars</mat-icon>
                            <p class="price"> Upto {{d.team_limit}}</p>
                        </div>
                        <div class="d-flex">
                            <mat-icon class="icon">verified</mat-icon>
                            <p class="price">Guaranteed</p>
                        </div>
                    </div>
                </mat-card-footer>
            </mat-card>
        </div>
    </div>
</div>

<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "timer" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>

